<!--  ==============  -->
<!--  === Footer ===  -->
<!--  ==============  -->
footer
	.container
		.row
			
<!-- JavaScript at the bottom for fast page loading -->

<!-- Delete if you do not need Modernizr -->
script( src=folder + "assets/js/vendor/modernizr.min.js" )

<!-- Remove if you dont need to support IE8 & lower -->
<!--[if lte IE 8]>
script( src=folder + "assets/js/vendor/jquery.min.js" )
script( src=folder + "assets/js/vendor/respond.js" )
<![endif]-->

<!--[if gt IE 8]><!-->
script( src=folder + "assets/js/vendor/jquery.3.min.js" )
script( src=folder + "assets/js/vendor/jquery-migrate-3.js" )
<!--<![endif]-->

script( src=folder + "assets/js/plugins.min.js" )
script( src=folder + "assets/js/script.min.js" )

</body>
</html>